@page "/Adults"

@inject FileContextAsync FileContextAsync;
@inject NotificationManager NotificationManager;


@attribute [Authorize]

<div class="adults-main">
    <div class="adults">
        <div class="adults-title">
            Adults
        </div>
        <form class="adult-form">
            <div class="adult-form-fields">
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="fname">First name</label>
                        <input class="input" type="text" id="fname" name="fname" placeholder="first name..."
                               @bind-value="@_fname">
                    </div>
                    <div class="form-group">
                        <label class="label" for="lname">Last name</label>
                        <input class="input" type="text" id="lname" name="lname" placeholder="last name..."
                               @bind-value="@_lname">
                    </div>
                    <div class="form-group">
                        <label class="label" for="age">Age</label>
                        <input class="input" type="number" id="age" name="age" placeholder="age..." @bind-value="@_age">
                    </div>
                    <div class="form-group">
                        <label class="label" for="sex">Sex</label>
                        <!-- Unfortunately, the option tags cannot be edited via css, as they are handled by 
                        the os of the browser they're running on -->
                        <select class="input" style="width: 212px; height: 34px;" @bind="@_sex">
                            <option value="">
                                Select sex
                            </option>
                            <option value="M">
                                M
                            </option>
                            <option value="F">
                                F
                            </option>
                        </select>
                        @* <input class="input" type="text" id="sex" name="sex" placeholder="sex..." @bind-value="@sex"> *@
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="hair-color">Hair color</label>
                        <input class="input" type="text" id="hair-color" name="hair-color" placeholder="hair color..."
                               @bind-value="@_hairColor">
                    </div>
                    <div class="form-group">
                        <label class="label" for="eye-color">Eye color</label>
                        <input class="input" type="text" id="eye-color" name="eye-color" placeholder="eye color..."
                               @bind-value="@_eyeColor">
                    </div>
                    <div class="form-group">
                        <label class="label" for="height">Height</label>
                        <input class="input" type="text" id="height" name="height" placeholder="height..."
                               @bind-value="@_height">
                    </div>
                    <div class="form-group">
                        <label class="label" for="weight">Weight</label>
                        <input class="input" type="text" id="weight" name="weight" placeholder="weight..."
                               @bind-value="@_weight">
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="job">Job</label>
                        <input class="input" type="text" id="job" name="job" placeholder="job..." @bind-value="@_job">
                    </div>
                    <div class="form-group">
                        <label class="label" for="salary">Salary</label>
                        <input class="input" type="text" id="salary" name="salary" placeholder="salary..."
                               @bind-value="@_salary">
                    </div>
                    <div class="form-group">
                        <label class="label" for="street">Street name</label>
                        <input class="input" type="text" id="street" name="street" placeholder="street name..." @bind-value="@_street">
                    </div>
                    <div class="form-group">
                        <label class="label" for="house-nr">House nr</label>
                        <input class="input" type="number" id="house-nr" name="house-nr" placeholder="house nr..."
                               @bind-value="@_houseNr">
                    </div>
                </div>
            </div>
            <button @onclick="Submit" @onclick:preventDefault="true">Submit</button>
        </form>
    </div>
</div>


@code{
    private string _fname;
    private string _lname;
    private string _age;
    private string _hairColor;
    private string _eyeColor;
    private string _weight;
    private string _height;
    private string _sex;
    private string _job;
    private string _salary;
    private string _street;
    private string _houseNr;

    private async Task Submit()
    {
        var adult = new Adult
        {
            FirstName = _fname,
            LastName = _lname,
            HairColor = _hairColor,
            EyeColor = _eyeColor,
            Age = int.Parse(_age),
            Weight = float.Parse(_weight),
            Height = int.Parse(_height),
            Sex = _sex
        };
        var Job = new Job
        {
            JobTitle = _job,
            Salary = int.Parse(_salary)
        };
        adult.JobTitle = Job;
        
        await FileContextAsync.GetAdultsAsync();
        Console.WriteLine("got to getting the id");
        var id = FileContextAsync.GetCachedAdults().Last().Id;

        var family = new Family(){
            StreetName = _street,
            HouseNumber = int.Parse(_houseNr)
        };

        family.Adults.Add(adult);

        adult.Id = id + 1;
        //ValidateFamily(Family);
        //Notify(adult);
        Clear();
        Console.WriteLine("got here");
        await FileContextAsync.PostAdult(adult);
        Console.WriteLine("posted adult");
        await FileContextAsync.PostFamily(family);
        Console.WriteLine("posted family");
    }

    private async void Notify(Adult Adult){
        var content = "Successfully added " + Adult.FirstName + " " + Adult.LastName + " to the list";
        var title = "Operation finished successfully";
        await NotificationManager.Show(title, content, NotificationType.Success);
    }

    // private void ValidateFamily(Family family){
    //     var families = FileContext.Families;
    //     //if a family with this name already exists, add the adult there, otherwise make it's own family
    //     foreach(var fam in families){
    //         if(fam.Adults[0].FirstName.Equals(family.Adults[0].LastName)){
    //             fam.Adults.Add(family.Adults[0]);
    //         } else{
    //             FileContext.Families.Add(family);
    //         }
    //     }
    //     FileContext.SaveChanges();
    // }

    private void Clear()
    {
        _fname = "";
        _lname = "";
        _age = "";
        _sex = "";
        _hairColor = "";
        _eyeColor = "";
        _height = "";
        _weight = "";
        _job = "";
        _salary = "";
        _street = "";
        _houseNr = "";
    }

}